* {
    padding: 0;
   
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}
.logo {
    height: 25px;
}
h1 {
    font-size: 55px;
}
.ca{
    position: relative;
    bottom: 7px;
}
/* h3 {
    color: black;
} */
.header{
    padding: 6%;
    background-image: url("assets/kw-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    
}
.btn{
    background-color: #6196FF ;
    border: 0px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book {
    height: 250px;
}
.img {
    height: 250px;
}
h5 {
    font-size: 20px;
    position: relative;
    bottom: 30px;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.kri{
    border-radius: 100%;
}
.add{
    position: relative;
    bottom: 5px;
    color: white;
    font-weight: bold;
}
.price{
    display: flex;
    justify-content: space-between;
}
.bookicon{
    display: flex;
    flex-direction: column;
}
.name{
    font-size: 20px;
}
.author{
    color: lightslategray;
}
.sentence {
    text-align: right;
    margin-right: 5%;
    margin-top: 10px;
}
.br {
    margin-left: 5% ;
    padding: 1%;
}
@media (max-width:600px) {
    .content {
        display: block;
        align-items: center;
        padding: 10%;
    }
    h1 {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    h4 {
        font-size: 10px;
    }
    .book {
        padding: 5%;
        width: 200px;
        align-self: center;
    }
}